// ---------------- utils style ------ //
.icon {
    // padding: 2px;
    display: inline-block;
    transition: all .3s ease;
}
.icon-trans {
    transition: all .3s ease;
    transform: rotate(180deg);
}

// ---------- font-size ------------- //
.f-s {
    font-size: 12px;
}
.f-20 {
    font-size: 20px;
}
.f-24 {
    font-size: 24px;
}

// ---------------- margin ------------ //
.m_t-30 {
    margin-top: 42px;
}
