// ------------- colors -----------//
$primary :#A3BDD9;
$blue :#0079FF;
$secondary :#938E90;
$success :#00DFA2;
$info :#0fa6e7;
$danger :#d21312;
$gray :#ccc;
$purple :#CA4AAE;
$black :#000;
$white : #fff;

// ------------- radiuses ------------//
$border-radius: 10px;
$border-radius-sm :5px;
$border-radius-md :20px;
$border-radius-lg :30px;

// --------------- Fonts ----------//
$font-family : "Roboto";
$font-s:16px;
$font-s-sm :14px;
$font-s-md : 24px;
$font-s-lg :66px;

// path
$images-path: '../images';

// ----------------- transitions ------------//
$base-transition: 0.2s ease;



