header {
    background: url($images-path+'/image2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1200px;
    width: 100%;
    border-bottom: 1px solid $gray;
    
}